/*
Project         :  Easy Meet
Version         :  v1.0
Author          :  Areeb
Date            :  8/20/2020          
*/

/* ============================================ *
 * Contents
 1-font
 3-reset
 4-navbar
 5-free-sign-up section
 * ============================================ */


/* ============================================ *
 * font
 * ============================================ */
 @font-face {
  font-family: 'Sofia-Pro-Black-Italic';
  src: '~/assets/fonts/Sofia Pro Black Italic.otf';
}
@font-face {
  font-family: 'Sofia-Pro-Black';
  src: '~/assets/fonts/Sofia Pro Black.otf';
}
@font-face {
  font-family: 'Sofia-Pro-Bold-Italic';
  src: '~/assets/fonts/Sofia Pro Bold Italic.otf';
}
@font-face {
  font-family: 'Sofia-Pro-Bold';
  src: '~/assets/fonts/Sofia Pro Bold.otf';
}
@font-face {
  font-family: 'Sofia-Pro-Extra-Light-Italic';
  src: '~/assets/fonts/Sofia Pro Extra Light Italic.otf';
}
@font-face {
  font-family: 'Sofia-Pro-Extra-Light';
  src: '~/assets/fonts/Sofia Pro Extra Light.otf';
}
@font-face {
  font-family: 'Sofia-Pro-Italic';
  src: '~/assets/fonts/Sofia Pro Italic.otf';
}
@font-face {
  font-family: 'Sofia-Pro-Light-Italic';
  src: '~/assets/fonts/Sofia Pro Light Italic.otf';
}
@font-face {
  font-family: 'Sofia-Pro-Light';
  src: '~/assets/fonts/Sofia Pro Light.otf';
}
@font-face {
  font-family: 'Sofia-Pro-Medium-Italic';
  src: '~/assets/fonts/Sofia Pro Medium Italic.otf';
}
@font-face {
  font-family: 'Sofia-Pro-Medium';
  src: '~/assets/fonts/Sofia Pro Medium.otf';
}
@font-face {
  font-family: 'Sofia-Pro-Regular';
  src: '~/assets/fonts/Sofia Pro Regular.otf';
}
@font-face {
  font-family: 'Sofia-Pro-Semi-Bold-Italic';
  src: '~/assets/fonts/Sofia Pro Semi Bold Italic.otf';
}
@font-face {
  font-family: 'Sofia-Pro-Semi-Bold';
  src: '~/assets/fonts/Sofia Pro Semi Bold.otf';
}
@font-face {
  font-family: 'Sofia-Pro-Ultra-Light-Italic';
  src: '~/assets/fonts/Sofia Pro Ultra Light Italic.otf';
}
@font-face {
  font-family: 'Sofia-Pro-Ultra-Light';
  src: '~/assets/fonts/Sofia Pro Ultra Light.otf';
}
 /* ============================================ *
 * reset
 * ============================================ */
 *,
 *:before,
 *:after { 
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
a { color: #000;}
body  {
  font:1rem/1.35 'Sofia-Pro-Regular', sans-serif; 
  background-color: #fafafa;
  color:#000; 
  text-align: center;
}
/* .mainpage {
  position: absolute;
  display: none;
} */
.container {
  width: 1030px;
}
 /* ============================================ *
 * navbar
 * ============================================ */
 .navbar > .container {
  width: 1060px;
}
.navbar {
  box-shadow: inset 0px -1px 0px rgba(0, 0, 0, 0.05);
}
.bg-white {
  background-color: #fff0!important;
}
.nav-item {
  display: flex;
}
.nav-item > a {
  font-size: 14px;
  padding: 0.545rem .85rem;
  margin-right: 20px;
}
.nav-item > .btn {
  font-size: 13px;
  padding: 0.545rem .85rem;
  border-radius: 5px;
}
 /* ============================================ *
 * free-sign-up section
 * ============================================ */
 .main-title h1 {
  font-size: 1.5rem;
 }
 .main-title p {
  font-size: .85rem;
  line-height: 1.5rem;
 }
 .free-sign-up .btn-primary {
  color: #f4f7fb;
  padding: .9rem 1rem;
  font-size: .85rem;
 }
 .btn-primary.disabled, .btn-primary:disabled {
  background-color: #c8e0fb;
  border-color: #c8e0fb;
 }
 .form-group {
  padding-top: .2rem;
  text-align: left;
  font-size: .86rem;
 }
 .form-control {
  padding: .7rem .75rem;
  border-color: #eeeeee;
  font-size: .86rem;
 }
 .password-input {
   position: relative;
 }
 span.field-icon {
  position: absolute;
  display: inline-block;
  cursor: pointer;
  right: 0.5rem;
  top: 0.7rem;
  z-index: 2;
}
span.field-icon {
  position: absolute;
  display: inline-block;
  cursor: pointer;
  right: 0.5rem;
  top: 2.8rem;
  z-index: 2;
}
 .have-account {
  font-size: .87rem;
 }
 .have-account > a {
   color: #017AFF;
 }
 .form-control::placeholder {
    color: #000;
    opacity: 0.4;
    font-family: 'Sofia-Pro-Light';
 }