/*
Project         :  Easy Meet
Version         :  v1.0
Author          :  Areeb
Date            :  8/20/2020          
*/

/* ============================================ *
 * Contents
 1-font
 3-reset
 4-navbar
 5-free-sign-up section
 * ============================================ */

/* ============================================ *
 * font
 * ============================================ */
@font-face {
  font-family: "Sofia-Pro-Black-Italic";
  src: url("../fonts/Sofia Pro Black Italic.otf");
}
@font-face {
  font-family: "Sofia-Pro-Black";
  src: url("../fonts/Sofia Pro Black.otf");
}
@font-face {
  font-family: "Sofia-Pro-Bold-Italic";
  src: url("../fonts/Sofia Pro Bold Italic.otf");
}
@font-face {
  font-family: "Sofia-Pro-Bold";
  src: url("../fonts/Sofia Pro Bold.otf");
}
@font-face {
  font-family: "Sofia-Pro-Extra-Light-Italic";
  src: url("../fonts/Sofia Pro Extra Light Italic.otf");
}
@font-face {
  font-family: "Sofia-Pro-Extra-Light";
  src: url("../fonts/Sofia Pro Extra Light.otf");
}
@font-face {
  font-family: "Sofia-Pro-Italic";
  src: url("../fonts/Sofia Pro Italic.otf");
}
@font-face {
  font-family: "Sofia-Pro-Light-Italic";
  src: url("../fonts/Sofia Pro Light Italic.otf");
}
@font-face {
  font-family: "Sofia-Pro-Light";
  src: url("../fonts/Sofia Pro Light.otf");
}
@font-face {
  font-family: "Sofia-Pro-Medium-Italic";
  src: url("../fonts/Sofia Pro Medium Italic.otf");
}
@font-face {
  font-family: "Sofia-Pro-Medium";
  src: url("../fonts/Sofia Pro Medium.otf");
}
@font-face {
  font-family: "Sofia-Pro-Regular";
  src: url("../fonts/Sofia Pro Regular.otf");
}
@font-face {
  font-family: "Sofia-Pro-Semi-Bold-Italic";
  src: url("../fonts/Sofia Pro Semi Bold Italic.otf");
}
@font-face {
  font-family: "Sofia-Pro-Semi-Bold";
  src: url("../fonts/Sofia Pro Semi Bold.otf");
}
@font-face {
  font-family: "Sofia-Pro-Ultra-Light-Italic";
  src: url("../fonts/Sofia Pro Ultra Light Italic.otf");
}
@font-face {
  font-family: "Sofia-Pro-Ultra-Light";
  src: url("../fonts/Sofia Pro Ultra Light.otf");
}
/* ============================================ *
 * reset
 * ============================================ */
*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
a {
  color: #000;
}
.onboarding .icons > div > a:hover {
  text-decoration: none;
}
.small-size {
  font-size: .74rem!important;
}
.medium-size {
  font-size: .85rem!important;
}
.blue {
  color: #017AFF;
}
.opacity-6 {
  opacity: 0.6;
}
.opacity-7 {
  opacity: 0.7;
}
.opacity-8 {
  opacity: 0.8;
}
.default-opacity {
  opacity: initial!important;
}
.boxShadowNon {
  box-shadow: none!important;
}
body {
  font: 1rem/1.35 "Sofia-Pro-Regular", sans-serif;
  background-color: #fafafa;
  color: #000;
  text-align: center;
}
.mainpage {
  position: absolute;
  /* display: none; */
}
.container {
  width: 1030px;
}
/* ============================================ *
 * navbar
 * ============================================ */
.navbar > .container {
  width: 1060px;
}
.navbar {
  box-shadow: inset 0px -1px 0px rgba(0, 0, 0, 0.05);
}
.bg-white {
  background-color: #fff !important;
}
.nav-item {
  display: flex;
}
.nav-item > a {
  font-size: 14px;
  padding: 0.545rem 0.85rem;
  margin-right: 20px;
}
.nav-item > .btn {
  font-size: 13px;
  padding: 0.545rem 0.85rem;
  border-radius: 5px;
}
/* ============================================ *
 * free-sign-up section
 * ============================================ */
.main-title h1 {
  font-size: 1.5rem;
}
.main-title p {
  line-height: 1.5rem;
}
.free-sign-up .btn-primary {
  color: #f4f7fb;
  padding: 0.9rem 1rem;
}
.btn-primary.disabled,
.btn-primary:disabled {
  background-color: #c8e0fb;
  border-color: #c8e0fb;
}
.form-group {
  padding-top: 0.2rem;
  text-align: left;
  font-size: 0.86rem;
}
.form-control {
  padding: 0.7rem 0.75rem;
  border-color: #eeeeee;
  font-size: 0.86rem;
}
.password-input {
  position: relative;
}
span.field-icon {
  position: absolute;
  display: inline-block;
  cursor: pointer;
  right: 0.5rem;
  top: 0.7rem;
  z-index: 2;
}
span.field-icon {
  position: absolute;
  display: inline-block;
  cursor: pointer;
  right: 0.5rem;
  top: 2.8rem;
  z-index: 2;
}
.have-account {
  font-size: 0.87rem;
}
.have-account > a {
  color: #017aff;
}
.form-control::placeholder {
  color: #000!important;
  opacity: 0.4!important;
  font-family: "Sofia-Pro-Light"!important;
}
/*===============================
 onboarding
 =================================*/
.onboarding .steps-line .step-container {
  background-color: #EEEEEE;
  height: 8px;
  border-radius: 5px;
}
.onboarding .steps-line .step-container span {
  border-radius: 5px;
}
.onboarding .steps-line .step-container span.step-active {
  background: #017AFF;
}
.onboarding .createURL h3 {
  font-weight: 500;
}
.onboarding .createURL p {
  font-size: .76rem;
  opacity: 0.8;
}
.onboarding .url-input #url {
  padding: .8rem .5rem;
}
.onboarding .url-input .input-group-text {
  background-color: #eee;
  color: #000;
  padding: .3rem 1rem!important;
}
.onboarding .set-up-later .btn-primary {
  padding: 0.9rem 5.6rem;
}
.onboarding .notification-img {
  padding-left: 2.4rem
}
.onboarding .createdURL {
  color: #017AFF;
  background: #FFFFFF;
  border: 1px solid #EEEEEE;
  border-radius: 5px;
  padding: .8rem 1rem;
}
.onboarding .icons > div > a {
  font-size: .75rem;
  display: block;
}
.onboarding .icons > div > a img {
  display: inline-block;
  vertical-align: middle;
}
.onboarding .icons > div > a span {
  display: inline-block;
  vertical-align: middle;
}
.onboarding .icons > div {
  background: #FAFAFA;
  border: 1px solid #EEEEEE;
  border-radius: 5px;
}
.onboarding .remove-step-space-1 {
  border-radius: 5px 0 0 5px!important;
}
.onboarding .remove-step-space-2 {
  border-radius: 0 5px 5px 0!important;
}

/*===============================
 dashboard
 =================================*/
.dashboard .nav-item > a {
  opacity: 0.6;
  margin-right: 0;
}
.dashboard .navbar-nav .active > a {
  color: #000;
  opacity: initial;
}
.dashboard .personal-details {
  box-shadow: inset 0px -1px 0px rgba(0, 0, 0, 0.05);
}
.dashboard .personal-details .notifyPar {
  background: rgba(240, 71, 71, 0.05);
  border: 1px solid #f04747;
  border-radius: 5px;
  color: #f04747;
}
.dashboard .avatar-container {
  border-radius: 50%;
  background: #eeeeee;
  border: 1px solid #cccccc;
  width: 80px;
  height: 80px;
  opacity: 0.6;
  font-size: 0.65rem;
  font-family: "Sofia-Pro-Light";
  color: #000;
}
.dashboard .media-body h2 {
  font-size: 1.4rem;
  font-family: "Sofia-Pro-Semi-Bold";
}
.dashboard .media-body .edit-bio {
  opacity: 0.6;
  font-family: "Sofia-Pro-Light";
}
.dashboard .media-body .url-room {
  color: #017aff;
}
.dashboard .button {
  position: relative;
  top: 50%;
  width: 210px;
  height: 36px;
  overflow: hidden;
  background-color: #fff;
  border: 1px solid #eeeeee;
}
.dashboard .button.r,
.dashboard .button.r .layer {
  border-radius: 100px;
}
.dashboard .button.b2 {
  border-radius: 5px;
}
.dashboard .checkbox {
  position: relative;
  opacity: 0;
  cursor: pointer;
  z-index: 3;
}
.dashboard .knobs {
  z-index: 2;
}
/* Button 10 */
#button-10 .knobs:before,
#button-10 .knobs:after,
#button-10 .knobs span {
  position: absolute;
  top: 1px;
  width: 100px;
  height: 32px;
  font-weight: bold;
  text-align: left;
  line-height: 1;
  padding: 9px 5px;
  border-radius: 3px;
  transition: 0.3s ease all;
}
#button-10 .knobs:before {
  content: "";
  left: 1px;
  background-color: #43B581;
  width: 91px;
}
#button-10 .knobs:after {
  content: "Not Available";
  right: 5px;
  top: 2px;
  color: #808080;
  text-align: center;
  font-family: "Sofia-Pro-Light";
}
#button-10 .knobs span {
  display: inline-block;
  left: 16px;
  color: #fff;
  z-index: 1;
  font-family: "Sofia-Pro-light";
}
#button-10 .checkbox:checked + .knobs span {
  color: #808080;
  font-family: "Sofia-Pro-light";
}
#button-10 .checkbox:checked + .knobs:before {
  left: 97px;
  background-color: #eee;
  width: 110px;
}
#button-10 .checkbox:checked + .knobs:after {
  color: #000;
  font-family: "Sofia-Pro-Medium";
}
.has-search .form-control {
  padding-left: 2.375rem;
}
.has-search .form-control-feedback {
  position: absolute;
  z-index: 2;
  display: block;
  width: 2.375rem;
  height: 2.375rem;
  line-height: 2.8rem;
  text-align: center;
  pointer-events: none;
  color: #eee;
}
.bulk-action button {
  padding: .7rem .8rem;
  border: 1px solid #EEEEEE;
  border-radius: 5px;
  font-family: "Sofia-Pro-Light";
  letter-spacing: .1px;
}
.bulk-action button.notify {
  color: #017aff;
  padding: .7rem 1.5rem;
}
.bulk-action button.reject {
  color: #F04747;
}
.meeting-requists {
  margin-top: 9.5rem;
}
.meeting-requists .empty-icon {
  width: 80px;
  height: 80px;
  background: #FFFFFF;
  opacity: 0.6;
  border: 1px solid #000000;
  border-radius: 50%;
  line-height: 80px;
  font-size: .6rem;
}

/*===============================
 dashboard-5
 =================================*/
.requests-list .requster-container {
  border: 1px solid #EEEEEE;
  padding: .7rem .7rem;
  border-radius: 4px;
}
.requests-list .requster-container .avatar-container {
  width: 40px;
  height: 40px;
  line-height: 40px;
  color: #000;
  opacity: 0.6;
  border: 1px solid #000000;
  font-family: "Sofia-Pro-Regular";
}
.media-body h2.requesterName  {
  font-size: .9rem;
  font-family: "Sofia-Pro-Regular";
}
.requests-list .requster-container .request-summary {
  color: #000000;
  opacity: 0.8;
  padding-left: 3.5rem;
}
/*===============================
 dashboard-6
 =================================*/
.meeting-btn {
  border: 1px solid #017AFF;
  color: #017AFF;
  border-radius: 5px;
}
.extend {
  opacity: 0.8;
}
.extend a {
  color: #017AFF;
}
/* Popup container - can be anything you want */
.notifyBtnContainer {
  position: relative;
}

/* The actual popup */
.notifyBtnContainer .popuptext {
  visibility: hidden;
  width: 458px;
  color: #000;
  border: 1px solid #EEEEEE;
  border-radius: 5px;
  padding: 1rem;
  position: absolute;
  z-index: 1;
  bottom: -225%;
  left: -195%;
  margin-left: -80px;
  filter: drop-shadow(0px 15px 25px rgba(0, 0, 0, 0.1));
  /*   box-shadow: 0px -6px 20px 0px #00000029; */
}
#notifyAll:focus {
  box-shadow: none;
}
#dashboard-6 .notify:disabled {
  opacity: .3;
}
/* Popup arrow */
.notifyBtnContainer .popuptext::after {
  content: "";
  position: absolute;
  top: -10px;
  right: 40px;
  border-bottom: 10px solid #fff;
  border-left: 16px solid transparent;
  border-right: 16px solid transparent;
}
.notifyBtnContainer .popuptext #dismiss {
  cursor: pointer;
}

/* Toggle this class - hide and show the popup */
.notifyBtnContainer .show {
  visibility: visible;
  -webkit-animation: fadeIn .5s;
  animation: fadeIn .5s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}
/*===============================
 requester profile
 =================================*/
.meeterProfile .notifyPar {
  margin-bottom: 2.4rem;
}
.meeterProfile h2.requesterName {
  font-size: 1.1rem;
  font-family: "Sofia-Pro-medium";
}
.requesterMsg {
  font-size: 1.03rem;
}
.meeterProfile .media {
  padding-bottom: 1.8rem;
}
.MeeterProfileArrow {
  font-size: 2rem;
}
.meeterProfile .meeterProfileMsg {
  margin-top: 4.7rem;
  border: 2px solid #017AFF;
  border-radius: 5px;
}
.meeterProfile .meeterProfileMsg h2 {
  font-size: 1.1rem;
}
.meeterProfile .meeterProfileMsg span {
  font-size: .9rem;
}
.meeterProfile .meeterProfileMsg .btn {
  padding: .9rem 2.4rem;
  font-family: "Sofia-Pro-Light";
  margin-top: 1.2rem;
}
.meeterProfileSignUp {
  padding: 4rem 0 0 1.8rem;
}
.MeeterLine {
  background: #FFFFFF;
  border: 1px solid #EEEEEE;
  border-radius: 5px;
  height: 1px;
  margin-left: -45px;
  margin-right: -15px;
}
.MeeterBrandContainer .navbar-brand {
  font-size: 2.25rem;
}
.MeeterBrandContainer .Brandtext {
  font-size: .87rem;
}
.meeterProfileSignUp .MeeterDetails {
  padding-top: 1.8rem;
}
.meeterProfileSignUp .MeeterDetails h3 {
  font-size: 1.12rem;
}
.meeterProfileSignUp .MeeterDetails .btn {
  font-size: .87rem;
  padding: .7rem;
  font-family: "Sofia-Pro-Light";
}
/*===============================
requester profile 6
=================================*/
.Goodjob .avatar {
  width: 48px;;
  height: 48px;
  line-height: 48px;
  border-radius: 50%;
  border: 1px solid #000;
}

.Goodjob > i {
  font-family: "Sofia-Pro-Light";
}
.meeterProfile6 .meeterProfileMsg {
  margin-top: 1.9rem;
}
/*===============================
 email requist
 =================================*/
#email-requist .email-container {
  margin-top: 10rem;
  border-radius: 10px;
  padding-bottom: 5rem;
}
#email-requist .email-container .logo {
  box-shadow: inset 0px -1px 0px rgba(0, 0, 0, 0.05);
}
#email-requist .email-container .receive-text p {
  font-size: 1.12rem;
  padding-top: 4rem;
}
#email-requist .receive-name {
  margin-bottom: 2rem;
}
#email-requist .receive-name h2 {
  padding-top: 2.5rem;
}
#email-requist .additional-requists {
  font-size: .88rem;
}
#email-requist .open-dashboard .btn-primary {
  color: #f4f7fb;
  padding: 0.9rem 2.3rem;
}
